<section class="mar_50">
    <div class="head">
        <img  alt="img" class="logo" src="assets/monster-com-logo@2x.png"/>
        <img  alt="img" class="logo notify" src="assets/notify.svg"/>
        <div class='search_box'>
            <div class="search_content">
                <img  alt="img" class="search_icon" src="assets/search-icon.svg"/>
                <input type="" name="" class="search" placeholder="Search by job title or keyword"/>
            </div>
        </div>
    </div>
    <div class="recommended_job">
        <div class="pad_15">
            <h3 class="head_tx">Recommended Jobs</h3>
            <p class="sub_tx">Get personalised Job recommendations based on your preferences</p>
        </div>
        <div class="scrollmenu">
            <div class="recommend_card each_card mar_r0" (click)="onRecommendJob('1')">
                <div>
                <img src="assets/wipro-new@2x.jpg"  alt="img" class='f_l'>
                <img src="assets/group-5.svg" class="logo_hightlight"  alt="img">
                    <div class="com_basic_info">
                        <h3 class="com_title">Graphic Designer</h3>
                        <p class="com_name">Thoughtworks Inc</p>
                        <p class="com_loc">Bangalore, India</p>
                    </div>
                </div>
                <div class="com_des_content">
                    <p class="com_des font_15">We are looking for a graphic designer who can handle...</p>
                </div>
                <div class="com_spec">
                    <div class="pad_7">
                        <img src="assets/deg.svg"  alt="img" class='img_ver'>
                        <p class="designation">UI/UX Design</p>
                    </div>
                    <div class="pad_7 clear_both">
                        <img src="assets/suitcase.svg"  alt="img" class='img_ver'>
                        <p class="experience">2-3 year of experience</p>
                    </div>
                </div>
                <div class="tx_r">
                    <button class="recommend_apply">Apply</button>
                </div>
            </div>
            <div class="recommend_card each_card mar_r0" (click)="onRecommendJob('2')">
                <div>
                    <img src="assets/heptagon.png" width="45px" height="46px"  alt="img" class='f_l'>
                    <div class="com_basic_info">
                        <h3 class="com_title">PHP Developer</h3>
                        <p class="com_name">Heptagon</p>
                        <p class="com_loc">Coimbatore, India</p>
                    </div>
                </div>
                <div class="com_des_content">
                    <p class="com_des font_15">Should have strong experience developing web...</p>
                </div>
                <div class="com_spec">
                    <div class="pad_7">
                        <img src="assets/deg.svg"  alt="img" class='img_ver'>
                        <p class="designation">PHP Developer</p>
                    </div>
                    <div class="pad_7 clear_both">
                        <img src="assets/suitcase.svg"  alt="img" class='img_ver'>
                        <p class="experience">3-5 year of experience</p>
                    </div>
                </div>
                <div class="tx_r">
                    <button class="recommend_apply">Apply</button>
                </div>
            </div> 
            <div class="recommend_card each_card" (click)="onRecommendJob('3')">
                <div>
                    <img src="assets/wipro-new@2x.jpg"  alt="img" class='f_l'>
                    <img src="assets/group-5.svg" class="logo_hightlight"  alt="img">
                    <div class="com_basic_info">
                        <h3 class="com_title">Web Developer</h3>
                        <p class="com_name">Thoughtworks Inc</p>
                        <p class="com_loc">Bangalore, India</p>
                    </div>
                </div>
                <div class="com_des_content">
                    <p class="com_des font_15">We are hiring candidates for an esteemed hospitality company...</p>
                </div>
                <div class="com_spec">
                    <div class="pad_7">
                        <img src="assets/deg.svg"  alt="img" class='img_ver'>
                        <p class="designation">Web Developer/Design</p>
                    </div>
                    <div class="pad_7 clear_both">
                        <img src="assets/suitcase.svg"  alt="img" class='img_ver'>
                        <p class="experience">2-3 year of experience</p>
                    </div>
                </div>
                <div class="tx_r">
                    <button class="recommend_apply">Apply</button>
                </div>
            </div>   
        </div>
    </div>
    <div class="recommended_job">
        <div class="pad_15">
            <h3 class="head_tx">Suggested Jobs</h3>
            <p class="sub_tx ">Browse all the jobs you might be interested in</p>
        </div>
        <div class="suggest_card">
            <div class="pad_10">
                <p class="suggest_label">All Matches</p>
                <div class="suggest_count">
                    <span class="pad_5">45</span>
                    <i class="fa fa-angle-right arrow_right"></i>
                </div>
            </div>
            <div class="each_suggest">
                <p class="suggest_label">Save searches</p>
                <div class="suggest_count">
                    <span class="pad_5">15</span>
                    <i class="fa fa-angle-right arrow_right"></i>
                </div>
            </div>
            <div class="each_suggest pad_0">
                <p class="suggest_label">Jobs from your network</p>
                <div class="suggest_count">
                    <span class="pad_5">02</span>
                    <i class="fa fa-angle-right arrow_right"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="recommended_job pad_10">
        <div class="pad_15">
            <h3 class="head_tx">Not sure where to begin?</h3>
            <p class="sub_tx">Browse some of these categories to find jobs</p>
        </div>
        <div class="recommend_card mar_10">
            <div>
                <img src="assets/walk.svg"  alt="img" class=''>
                <div class="begin_basic_info">
                    <h3 class="begin_title">Walkin Jobs</h3>
                    <p class="begin_sub">Browse all the walkin jobs</p>
                </div>
                 <div class="suggest_count">
                    <i class="fa fa-angle-right arrow_right_begin"></i>
                </div>
            </div>
        </div>
        <div class="recommend_card mar_10">
            <div>
                <img src="assets/contract.svg"  alt="img" class=''>
                <div class="begin_basic_info">
                    <h3 class="begin_title">Contract Jobs</h3>
                    <p class="begin_sub">Browse all the contract jobs</p>
                </div>
                 <div class="suggest_count">
                    <i class="fa fa-angle-right arrow_right_begin"></i>
                </div>
            </div>
        </div>
        <div class="recommend_card mar_10">
            <div>
                <img src="assets/near.svg"  alt="img" class=''>
                <div class="begin_basic_info">
                    <h3 class="begin_title">Nearby Jobs</h3>
                    <p class="begin_sub">Find the jobs around you</p>
                </div>
                 <div class="suggest_count">
                    <i class="fa fa-angle-right arrow_right_begin"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="main_menu">
        <a class="menu_bottom" mat-raised-button>
            <img src="assets/job.svg"  alt="img" class='' width='25px' height="27px">
            <div><span>Jobs</span></div>
        </a> 
        <a class="menu_bottom" mat-raised-button>
            <img src="assets/feed.svg"  alt="img" class='' width='25px' height="27px">
            <div><span>Profile</span></div>
        </a> 
        <a class="menu_bottom" mat-raised-button>
            <img src="assets/carrier.svg"  alt="img" class='' width='25px' height="27px">
            <div><span>Track</span></div>
        </a> 
        <a class="menu_bottom" mat-raised-button>
            <img src="assets/menu.svg"  alt="img" class='' width="25px" height="27px">
            <div><span>More..</span></div>
        </a>
    </div> 
</section>